@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-foreground-heading: #fafbff;
    --color-foreground-leading: #6e778d;
    --color-foreground-dark: #485069;
    --color-background: #010312;
    --color-accent: #245bff;
    --color-grey-100: rgba(250, 251, 255, 0.04);
    --color-grey-200: rgba(250, 251, 255, 0.08);
    --color-grey-300: rgba(250, 251, 255, 0.12);
}

html {
    color-scheme: dark;
}
